<footer class="bg-dark px-5">
    <div class="container-fluid">
        <div class="row text-light pt-5 pb-2">
            <div class="col-lg-4 col-sm-6">
                <h3 class="h4">Qui sommes-nous ?</h3>
                <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia ea et incidunt asperiores, ex quaerat cum, soluta reprehenderit porro accusantium quibusdam distinctio laborum. Eius, iure. Laudantium alias similique perferendis ipsa?</p>
                <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia ea et incidunt asperiores, ex quaerat cum, soluta reprehenderit porro accusantium quibusdam distinctio laborum. Eius, iure. Laudantium alias similique perferendis ipsa?</p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h3 class="h4 pb-3">App Immo</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link text-light">Charte éditeur</a></li>
                    <li><a href="#" class="footer-link text-light">Publier une annonce</a></li>
                    <li><a href="#" class="footer-link text-light">Contactez-nous</a></li>
                    <li><a href="#" class="footer-link text-light">Alerte Email</a></li>
                    <li><a href="#" class="footer-link text-light">Nous recrutons</a></li>
                    <li><a href="#" class="footer-link text-light">Espace presse</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h3 class="h4 pb-3">Partenaires</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link text-light">Leboncoin</a></li>
                    <li><a href="#" class="footer-link text-light">Logic-Immo</a></li>
                    <li><a href="#" class="footer-link text-light">Lux-residence</a></li>
                    <li><a href="#" class="footer-link text-light">Fonds de commerce</a></li>
                    <li><a href="#" class="footer-link text-light">Maison à vendre</a></li>
                    <li><a href="#" class="footer-link text-light">Immo neuf</a></li>
                    <li><a href="#" class="footer-link text-light">Patrimoine</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h3 class="h4">Newsletter</h3>
                <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eum voluptates, nemo facilis beatae incidunt fuga nihil porro laborum tenetur corrupti aut unde voluptatibus temporibus</p>
                <form class="mb-3">
                    <div class="input-group">
                        <input type="email" class="form-control" id="email" placeholder="Saisir votre adresse e-mail">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-danger">Inscription</button>
                        </div>
                    </div>
                </form>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fab fa-facebook fa-3x text-primary"></i></li>
                    <li class="list-inline-item"><i class="fab fa-twitter fa-3x text-info"></i></li>
                    <li class="list-inline-item"><i class="fab fa-instagram fa-3x text-success"></i></li>
                    <li class="list-inline-item"><i class="fab fa-youtube fa-3x text-danger"></i></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center text-light border-top pt-3">
                <p>Made whith <i class="fa fa-heart"></i> by Souleymane </p>
            </div>
        </div>
    </div>
</footer>